<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Name of your server 
         Cannot be empty -->
    <add key="ServerName" value="http://vstfdevdiv:8080/"/>
    
    <!-- The code review distribution list email
         Can be empty -->
    <add key="CrAlias" value="netcfcr"/>
    
    <!-- Port for webview. You most probably do not have to change this 
         Cannot be empty -->
    <add key="WebViewPort" value="8090"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
